@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family:"Poppins", sans-serif; ;
}

.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  padding: 20px;
}

.lobby-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.lobby-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.lobby-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.lobby-form input {
  width: 100%;
  /* padding: 10px; */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.lobby-form .button-group {
  display: flex;
  justify-content: space-between;
}

.lobby-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
 



.lobby-form button:hover {
  background-color: #0056b3;
}
